
#title{
    border-bottom: 2px solid;
    font-family: 'Montserrat';
    }
    
    
    .contact_border{
        text-align: center;
        border-radius: 15px;
        border:1px solid;
        margin-top: 50px;
        margin-left:200px;
        margin-right: 200px;
        margin-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        word-spacing: 1.5px;
        font-size: 20px;
        color:#F10086;
    }
    /* Cart Page*/
       .products-container
       {
        max-width: 650px;
        flex-wrap: wrap;
        justify-content: space-around;
        margin: 0 auto;
        margin-top: 50px;
       }
       .products-container ion-icon{
        font-size: 25px;
        color:blue;
        margin-left: 10px;
        margin-right: 10px;
        cursor:pointer;
       } 
    
    .product-header{
        width:100%;
        max-width: 650px;
        display:flex;
        justify-content: flex-start;
        border-bottom:4px solid lightgrey;
        margin:0 auto;
    }
    .product{
        display:flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0;
        border-bottom:1px solid lightgrey;
    }
    .product-title{
        width:45%;
    }
    .total{
        width:10%;
        display:flex;
        align-items: center;
    }
    
    .quantity{
        width:30%;
        display: flex;
        align-items: center;
    }
    .price{
        width:15%;
        display:flex;
        align-items: center;
    }
    .basketTotalContainer{
        display:flex;
        justify-content: flex-end;
        width:100%;
        padding:10px 0;
    }
    .basketTotalTitle{
        width:30%;
    }
    .basketTotal{
        width:10%;
    }
    /* contact page  */
    .contact{
        width: 750px;
       height:750px;
    }
    .logo_img{
        height:150px;
        width:150px;
        border-radius: 50%;
    }
    .navbar-toggler
    {
        background-color: #F10086;
        color:#F10086;
    }
    .order_btn{
        padding: 20px;
        margin-left: 300px;
    }
    /* cones_cart */
    
    .container,.product-container{
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 50px;
        padding-bottom: 100px;
    
    }
    .image{
        margin-right: 20px;
        margin-left: 20px;
        position:relative;
        overflow:hidden;
        border:1px solid darkgrey;
        border-radius: 14px;
    
    }
    .add-cart{
        position: absolute;
        width:100%;
        transition: all 0.3s ease-in-out;
        opacity:0;
        cursor: pointer;
        text-align: center;
        background-color: darkgrey;
    
    }
    .image:hover .cart1,
    .image:hover .cart2,
    .image:hover .cart3,
    .image:hover .cart4{
        bottom: 50px;
        opacity:1;
        padding:10px;
        text-decoration: none;
    }
    body
    {
        font-family: "Motsterrat";
    }
    figcaption {
        display:inline-block;
        font-size: 20px;
        color:#F10086;
        font-weight: bolder;
        padding-left: 75px;
        padding: auto;
        margin: 20px;
        text-align: center;
      }
      .text{
        border:none;
        font-weight: bold;
        text-align: center;
        cursor: pointer;
        letter-spacing: normal;
        background:transparent;
        font-size: 20px;
      }
      .fl_img{
        display: inline-block;
        padding-left: 100px;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
    
    
      }
      
      .order{
        border:1px solid;
        display: inline-flex;
        white-space: nowrap;
        cursor: pointer;
      }
    .container-fluid{
        padding: 2% 10%;  
    }
    .card{
        width:200px;
        height: 200px;
    }
    h2{
        text-align: center;
        padding: 2% 10%;
        color:#F10086;
        font-family: "Montserrat";
        font-size: 35px;
    }
    h3{
        padding: 2% 10%;
        color:#F10086;
        font-family: "Montserrat";
        font-size: 35px;
    }
    .contact_bg{
     background-image: url(./images/contact_bg4.jpg);
      background-position: center; /* Center the image */
      background-repeat: no-repeat; /* Do not repeat the image */
      background-size:cover;
      
    }
    .footer{
        text-align: center;
        border-top: 1px solid;
    }
    .con_h2{
        text-align: right;
    
    }
    
    /*.border{
        border-radius: 20px;
        height:9px;
        width:9px;
        border-width: 2px;
        border-style: solid;
        position:absolute;
    }*/
    .submit{
        color:#F10086;
    }
    .img-fluid{
        height:600px;
        width:600px;
    }
    .title_image{
        padding-top: 20%;
        width:150%;
        height:100%
        /*transform:rotate(25deg);*/
        }
    h1{
        font-family: "Montserrat";
        font-size:3.5rem;
        color:#F10086;
        text-align: center;
    }
    .btn-bg{
        background-color: #F10086;
    }
    .navbar-brand{
        font-family: 'Montserrat';
        font-size: 2.5rem;
        font-weight: bold;
        color:#F10086;
    }
    .about_p
    {
        font-family: "Montserrat-light";
        font-size: 30px;
        padding: 2% 10%;
        text-align:justify;
        word-spacing: 10px;
        color: #f10086;
    }
    
    .welcome{
        text-align: center;
        background-color: #F4F4F4;
    }
    .navbar{
     /*   background-image: url(./images/bg5.jpg);*/
        height:100%;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
        font-family: "Montserrat";
    
        padding-top:2.5rem ;
        /*padding-bottom: 4.5rem;*/
    }
    .nav-item{
        padding:0 18px;
    }
    
    .nav-item dropdown{
        color:black;
    }
    .nav-link{
        font-size: 1.2rem;
        font-family: "Montserrat";
        color:white;
    }
    .download-button{
    margin:5% 3% 5% 0;
    }
    .title_image{
    width:60%;
    }
    .about{
        font-size: 2em;
    }
